name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install minimal stable with clippy and rustfmt
      uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
    - name: Format Check
      #run cargo fmt to fix if in violation
      run: cargo fmt -- --check
    - name: Clippy Linting
    # --all-targets means apply to test code too. Without it just applies to application code
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
